.animationSpace {
  width: 35%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.result-animation,
.example-animation {
  background-color: var(--animationSpace-background);
  height: 40vh;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.example-animation {
  margin: 20px;
  width: 600px;
  height: 400px;
}
.result-animation {
  margin: 20px;
  width: 600px;
  height: 400px;
}

@media only screen and (max-width: 700px) {
  .animationSpace {
    width: 90vw;
    margin-left: 30px;
  }
}

@media only screen and (max-width: 375px) {
  .animationSpace {
    margin-left: 20px;
  }
}

.run {
  border: solid 1px #2f3640;
}

.example {
  border: solid 1px #2f3640;
}